/* Selecciona todos los elementos, antes y después */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* Incluye el padding y border en el ancho total */
  margin: 0;
  /* Elimina márgenes heredados */
  padding: 0;
  /* Elimina rellenos heredados */
}

/* --- */

/* Generales */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

p,
span,
li,
small {
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 1.8;
  margin-bottom: 10px;
}

a {
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 1.8;
}

ul li {
  list-style: none;
  margin-bottom: 0;
}

li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

/* --- */

/* Contenedor */
.contenedor {
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "titulo titulo titulo"
    "aside main main "
    "footer footer footer";
}

.contenedor-estilo {
  grid-template-areas:
    "header header header"
    "titulo titulo titulo"
    "main main aside "
    "footer footer footer";
}

.contenedor-formacion {
  grid-template-areas:
    "header header header"
    "titulo titulo titulo"
    "main main main "
    "footer footer footer";
}

.contenedor-trayectoria {
  grid-template-areas:
    "header header header"
    "titulo titulo titulo"
    "main main main"
    "footer footer footer";
}

/* --- */

/* Header  */
header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  position: relative;
  width: inherit;
  padding: 0 20px;
}

nav {
  grid-area: nav;
  display: flex;
}

nav ul {
  display: flex;
}

nav a {
  padding: 20px 40px;
}

header ul li {
  display: flex;
  margin-bottom: 0;
}

header ul li a {
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li:hover {
  background-color: black;
}

header ul li:hover a {
  color: white;
}

.logo {
  width: 200px;
}

/* Nav Mobile */
.mobile {
  display: none;
}




/* --- */

/* Div */
.titulo {
  grid-area: titulo;
  background-color: black;
}

.titulo h1 {
  padding: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  grid-area: titulo;
}

.hero {
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Img/b-savage-ig-panoramica.webp");
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/9;
  mask-image: linear-gradient(to bottom, #000 95%, transparent 100%);
}

/* Main | Redes Sociales */
main {
  grid-area: main;
  padding: 50px;
}

main h2,
main>p {
  margin-bottom: 20px;
}

main>p {
  line-height: 1.9;
}

main section p {
  margin-bottom: 0;
}

h2 {
  font-size: 40px;
}

.main-trayectoria {
  background-color: black;
  max-width: 1920px;
  color: white;
  margin: 0;
  grid-area: main;
  padding: 0px;
 /*  height: 100vw; */
}

.main-formacion {
  /* background-image: url("../Img/brennan-savage-formacion-2.jpg"); */
  background-image: url("../Img/brennan-savage-formacion-3.webp");
  background-repeat: no-repeat;
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% -200px;
  aspect-ratio: 16/9;
  display: flex;
  /* align-items: end; */
  justify-content: space-between;
  flex-flow: column;
  padding: 10px 50px;
  position: relative;
}

.main-formacion>a {
  position: absolute;
  inset: 0;
}

.button-play {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 50%;
  border-color: #fff;
  font-size: 1.875rem;
  cursor: pointer;
  text-decoration: none;
}

.button-track {
  display: flex;
  align-items: center;
  margin: 10% 0 ;
  height: 80px;
  gap: 20px;
}

.button-track span {
  color: #fff;
  border-top: 1.5px solid #fff;
  line-height: 1.3;
  padding-top: 10px;

}

.section-cards {
  display: flex;
  gap: 10px;
  width: 100%;
}


.card {
  /* aspect-ratio: 1 / 1; */
  min-height: 420px;
  height: 700px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  opacity: 1;

  display: flex;
  flex-flow: wrap column-reverse;
  align-items: center;
  justify-content: space-between;

}

.card:nth-child(1) {
  background-image: url("../Img/camiseta-goat-anverso.webp");
}

.card:nth-child(2) {
  background-image: url("../Img/polera-anversa.webp");
}

.card:nth-child(3) {
  background-image: url("../Img/camista-cruz-anverso.webp");
}

.card:nth-child(4) {
  background-image: url("../Img/camiseta-brennan-anverso.webp");
}


.card:nth-child(1):hover::after {
  background-image: url("../Img/camiseta-goat-reverso.webp");
}

.card:nth-child(2):hover::after {
  background-image: url("../Img/polera-reversa.webp");
}

.card:nth-child(3):hover::after {
  background-image: url("../Img/camiseta-cruz-reversa.webp");
}

.card:nth-child(4):hover::after {
  background-image: url("../Img/camiseta-brennan-reverso.webp");
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transform-origin: center;
  z-index: 10;
  transition:

    opacity .5s ease,
    transform .8s ease;
}

.card:hover::after {
  opacity: 1;
  transform: scale(1.1);
}



.card h3 {
  color: #ad030f;
}

.card img {
  align-self: end;
  width: 100px;
  position: relative;
  z-index: 20;
}


.nubes-1,
.nubes-2 {
  width: 100%;
}

.div-nubes {
  grid-area: nube;
}

.div-nubes .nubes-1 {
  mask-image: linear-gradient(to top, #000 95%, transparent 100%);
  position: relative;
  top: -20px;
}

.main-trayectoria .div-secciones {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  grid-template-areas:
    "section-1 section-2"
    "section-1 section-3";

  padding: 40px 0 40px 0;
}

.div-secciones li {
  padding: 3px 0;
  text-transform: uppercase;
}

.section-1 {
  grid-area: section-1;
  margin: 0 auto;
}

.section-2 {
  grid-area: section-2;
  margin: 0 auto;
}

.section-3 {
  grid-area: section-3;
  margin: 0 auto;

  transform: rotate(180deg);
}


.section-3 li:first-child {
  text-decoration: line-through;
}

.main-trayectoria section {
  padding: 20px;
}

.main-trayectoria section ol {
  padding-left: 30px;
}

.main-trayectoria section ol li {
  margin: 0;
  font-size: 14px;
}

.main-trayectoria span {
  color: #ad030f;
}

.redes-sociales {
  display: flex;
  column-gap: 32px;
  padding-top: 40px;
  align-items: center;
}

.redes-sociales a,
.redes-sociales-2 a {
  display: flex;
  margin-bottom: 0;
}

.redes-sociales ul {
  display: flex;
  column-gap: 32px;
}

.redes-sociales-2 {
  display: flex;
  column-gap: 32px;
  align-items: center;
}

.redes-sociales-2 p {
  font-size: 28px;
}

h3 {
  font-size: 30px;
}

hr {
  border: 2px solid bottom;
  margin: 20px 0;
}

/* --- */

/* Aside | Aside - Img */
aside {
  grid-area: aside;
  height: 100%;
  width: 100%;
}

aside .fotografia-brennan {
  width: inherit;
  height: inherit;
  max-width: 1200px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  grid-area: footer;
  flex-wrap: wrap;
  max-width: 1920px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: gainsboro;
}

/* Footer | Pag. Trayectoria | Vlog | YT*/
.vlog {
  padding: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

.vlog-background-img {
  background-image: url("../Img/Vlog-Brennan.png");
  background-size: cover;
  background-position: center;
  width: inherit;
  aspect-ratio: 16/9;
}

.yt-carrusel {
  display: flex;
  padding: 10px 30px;
  width: inherit;
  height: 350px;
  
  gap: 20px;
}

.yt-item {
  width: inherit;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.yt-item:hover {
  cursor: pointer;
}

.yt-item:first-child {
  background-image:
    url("../Img/trayectoria-miniatura-bn-3.png");
}

.yt-item:nth-child(2) {
  background-image:
    url("../Img/trayectoria-miniatura-bn-2.png");
}

.yt-item:last-child {
  background-image:
    url("../Img/trayectoria-miniatura-bn-1.png");
}

.yt-item:first-child::after {
  background-image: url("../Img/trayectoria-miniatura-3.jpg");
}

.yt-item:nth-child(2)::after {
  background-image: url("../Img/trayectoria-miniatura-2.jpg");
}

.yt-item:last-child::after {
  background-image: url("../Img/trayectoria-miniatura-1.jpg");
}

.yt-item:first-child::after,
.yt-item:nth-child(2)::after,
.yt-item:last-child::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background-size: cover;
  background-position: center;
  z-index: 10;
  transition: opacity 0.3s ease;
}

.yt-item:first-child:hover::after,
.yt-item:nth-child(2):hover::after,
.yt-item:last-child:hover::after {
  opacity: 1;
}


.yt-item span {
  background-color: #ad030f;
  color: #fff;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 12px;
  height: 40px;
  margin: 0;
  transition: transform 0.3s ease,
    background-color 0.3s ease;
  z-index: 30;

}

.yt-item:hover span {
  transform: scale(1.1);
  background-color: #d00010;
}

/* Footer | Pag. Trayectoria | CTA*/

.cta-footer {
  background-image: url("../Img/banner-nieve-footer.webp");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 100% center;
  background-attachment: fixed;
  width: inherit;
  min-height: 410px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  background-color: linear-gradient(to top, #000 95%, transparent 100%);

}

.cta-footer h5 {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.cta-footer a {
  margin-bottom: 0;
  padding: 8px 16px;
  background-color: #ad030f;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.cta-footer a:hover {
  background-color: #d00010;
}

.cta-footer>* {
  color: #fff;

}

/* Footer | Pag. Trayectoria | Social icon */

.social-icon {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.social-icon a {
  margin-bottom: 0;
}

.social-icon img {
  width: 80px;
  display: block;
}

.social-icon .icon-red {
  display: none;
  transition: opacity 0.2s ease;
}

.social-icon a:hover .icon-red {
  display: block;

}

.social-icon a:hover img:not(.icon-red) {
  display: none;

}


/* Footer | Pag. Trayectoria | Textos Legales*/

.textos-legales {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 120px;
  width: inherit;
}

.textos-legales * {
  color: #FFFFFFBF;
  font-size: .8rem;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: .099rem;
}

.textos-legales a:hover,
.textos-legales li:hover {
  text-decoration: underline;
}

.textos-legales ul {
  display: flex;
  flex-flow: wrap;
  gap: 2px 30px;
}

.textos-legales ul li {
  list-style: disc;
}


/* --- */


/* Media query | Header */
@media (max-width: 1200px) {

  p {
    font-size: 15px;

  }

  .redes-sociales-2 p {
    font-size: 22px;
  }

  h2 {
    font-size: 30px;
  }

  h3,
  h5 {
    font-size: 22px;
  }

  main {
    padding: 50px 20px;
  }

  /* Contenedor */
  .contenedor {
    max-width: 1200px;

    grid-template-areas:
      "header header header"
      "titulo titulo titulo"
      "main main main "
      "aside aside aside"
      "footer footer footer";
  }

  /* --- */
  /* Header | Nav */
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .button-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 3.75rem;
    cursor: pointer;
    color: black;
  }

  .menu-nav-mobile {
    display: none;
  }

  .menu-nav-mobile.open {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 140px;
    left: 0;
    box-shadow: 0px -5px black;
    z-index: 50;
    width: 100%;
  }

  .menu-nav-mobile li {
    background-color: #ad030f;
    width: inherit;
  }

  .menu-nav-mobile li a {
    width: inherit;
  }

  /* --- */

  /* Div | Titulo */
  .titulo h1 {
    text-align: center;
    font-size: 28px;
  }

  /* --- */
  /* Main */
  .main img {
    width: 35px;
  }

  /* --- */
  /* Aside */

  /* --- */

  /* Footer | CTA */

  .cta-footer {
    background-image: url("../Img/banner-nieve-footer.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% center;
    background-attachment: scroll;
    min-height: 410px;
  }

  .cta-footer h5 {
    padding: 0 10px;
    font-size: 25px;

  }

  /* --- */
  /* Footer | textos legales */
  .textos-legales ul {
    display: none;
  }

  /* --- */

  /* Yt-Carrusel */
  .yt-carrusel {
    padding: 10px;
  }

  /* --- */
}
@media (max-width:992px){
  .card{
    background-position: center;
    height: auto;

  }

 
}
@media (max-width: 768px) {
  .main-trayectoria .div-secciones {
    grid-template-columns: 1fr;
    grid-template-areas:
      "section-1"
      "section-2"
      "section-3";
  }

  .section-3 {
    margin: 0;
  }

  .section-cards {
    flex-flow: column wrap;
  }

  .yt-carrusel {
    height: 300px;
  }

  .card {
    width: 100%;
     background-position: revert;
  }

  .card img {
    width: 100px;
   
  }

  .main-formacion {
    background-size: cover;
    background-position: 80% 100%;
  }
  
}